* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

div {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

input:focus {
    border-color: #6d4e;
}

.addb {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #2e3a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rbn{
    width: 50%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #2e3a1d;

}

.addb:hover {
    background-color: #2e3a1a;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

p{
    width: 100%; /* Ensures the paragraph takes up full width */
    word-wrap: break-word; /* Optional: breaks long words to fit within width */
    box-sizing: border-box;
    text-align: start;
    margin-bottom: 10px;
}

li:hover {
    background-color: #ececec;
    transform: scale(1.02);
}